---
import { getEntry, render } from 'astro:content';
import Layout from '../../components/Layout.astro';
import { t } from '../../i18n/ui';

const page = await getEntry('paginas', 'en/contacto');
const { Content } = await render(page!);
---

<Layout lang="en" title={page!.data.title} current="contacto" path="/contacto/">
  <div class="prose" style="margin-top: 3rem;">
    <h1>{page!.data.title}</h1>
    <Content />
    <div class="contact-actions">
      <a class="button" href="mailto:negracuarenta@gmail.com">{t('en', 'email_us')}</a>
    </div>
    <p>
      {t('en', 'find_us')}
      <!-- TODO: replace with the real Facebook / Instagram / Vimeo URLs -->
      <a href="#">Facebook</a>, <a href="#">Instagram</a> and <a href="#">Vimeo</a>.
    </p>
  </div>
</Layout>
